.git
.jshintrc
.vscode
node_modules
src
test
tests
cicd
.gitignore
webpack.*.js
jsconfig.json
tsconfig.json
builtspecs
built
glob-auto-libraries-*.tgz
protractor.*.js
test.bat
specs
screenshots
coverage
.nyc_output
jasmine.json
CONTRIBUTING.md
VCLA_v1.2.pdf